<div class="row">
    <div class="col text-center">
        <h3 class="mt-3">Habilidades Blandas</h3>
    </div>
    <div *ngIf="logueado" class="col-auto">
        <i class="uil uil-file-plus-alt" style="font-size: 1.8em; color: #0d94b9" data-bs-toggle="modal" data-bs-target="#agregarHabilidadBlanda"></i>
    </div>
</div>
<app-habilidad-blanda-individual></app-habilidad-blanda-individual>

<!-- Modal Agregar Habilidad Blanda -->
<div class="modal fade" id="agregarHabilidadBlanda" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalAgregarHabilidaBlanda">Nueva Habilidad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="m-4">
                        <label for="habilidadBlanda" class="form-label">Tipo de Habilidad</label>
                        <input class="form-control" id="habilidadBlanda" type="text" aria-label="Habiliadad Dura" value="Habilidad Blanda" disabled style="opacity: 0.8; color: #888;">
                    </div>
                    <div class="m-4">
                        <label for="nuevaHabilidadBlanda" class="form-label">Habilidad</label>
                        <input class="form-control" id="nuevaHabilidadBlanda" type="text" placeholder="Por ejemplo: Comunicación Efectiva" aria-label="Habiliadad Dura">
                    </div>
                    <div class="m-4">
                        <label for="nivelHabilidadBlanda" class="form-label">Nivel alcanzado</label>
                        <input class="form-control" id="nivelHabilidadBlanda" type="text" aria-label="Nivel de la habilidad">
                        <div class="form-text">Ingrese solo el valor numerico</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancerlar</button>
            </div>
        </div>
    </div>
</div>