<div class="row">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + estudio_id" aria-expanded="true" aria-controls="collapseOne">
                    <div class="col">{{nivel}}</div> 
                    <div class="col-auto pe-3">
                        <i class="uil uil-file-edit-alt" *ngIf="logueado" style="font-size: 1.8em; color: #0d94b9" data-bs-toggle="modal" data-bs-target="#editarEducacion"></i>
                        <i class="uil uil-trash-alt" *ngIf="logueado" style="font-size: 1.8em; color: #0d94b9" data-bs-toggle="modal" [attr.data-bs-target]="'#eliminarEducacion' + estudio_id"></i>
                    </div>       
                </button>
            </h2>
            <div [attr.id]="'collapse' + estudio_id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-4">
                            <h3>Institución</h3>
                            <h5>{{institucion}}</h5><hr>
                            <h4>Titulo</h4>
                            <h5>{{titulo}}</h5><hr>
                            <p>Estado</p>
                            <p><strong>{{estado}}</strong></p>
                        </div>
                        <div class="col">
                            <h4>Descripción</h4>
                            {{descripcion}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Educación -->
<div class="modal fade" id="editarEducacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalAgregarEducacion">Editar Formación, Educación o Certificación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="m-4">
                        <label for="editarGrado" class="form-label">Nivel - Grado - Certificacíon</label>
                        <input class="form-control" id="editarGrado" type="text" placeholder="Agrega aqui el texto que engloba y oculta lo que quieres mostrar" aria-label="Grado Educativo">
                    </div>
                    <div class="m-4">
                        <label for="editarInstitucion" class="form-label">Institución</label>
                        <input class="form-control" id="editarInstitucion" type="text" aria-label="Institucion Educativa">
                    </div>
                    <div class="m-4">
                        <label for="editarTitulo" class="form-label">Titulo</label>
                        <input class="form-control" id="editarTitulo" type="text" aria-label="Titulo">
                    </div>
                    <div class="m-4">
                        <label for="editarEstado" class="form-label">Estado</label>
                        <input class="form-control" id="editarEstado" type="text" aria-label="Estado alcanzado">
                    </div>
                    <div class="m-4">
                        <label for="editarDescripcionEducacion" class="form-label">Descripción asociada</label>
                        <textarea class="form-control" id="editarDescripcionEducacion" type="text" aria-label="Nueva Descripcion de Educacion" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancerlar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminar Educacion -->
<div class="modal fade" [attr.id]="'eliminarEducacion' + estudio_id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEliminarEducacion">Eliminar esta Educación</h1>
                <button [attr.id]="'closeModalDeleteEst' + estudio_id " type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="m-4">
                        Estas a punto de <strong>Eliminar</strong> este detalle en tu Educación!!! Estas Seguro?
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="deleteEstudio(estudio_id)" type="button" class="btn btn-danger">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancerlar</button>
            </div>
        </div>
    </div>
</div>