<div class="container-fluid text-center">
    <div class="row align-items-center">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6 ">
            <img src="../assets/imagenes/404.jpg" style="position: relative; width: 100%; background-size: cover;" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6 tex-center mt-5">
            <h1 class="text-center mt-5 mb-5 p-2" >No hemos podido encontrar la pagina que buscas</h1>
            <h3 class="text-center mt-5 mb-5 p-5">Te invitamos a que nos visites en nuestro Home!!!</h3>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="">
                    <button type="button" class="btn btn-outline-primary btn-lg mb-3">Ir al Inicio</button>
                </a>
            </div>
        </div>
    </div>
</div>