<section class="banner">
    <header class="header">
        <nav class="nav">
            <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="_blank">
                <img style="width: 175px; color: #ededed;" src="../assets/imagenes/APLogo_Gris.png">
            </a>
            <ul class="list-group list-group-horizontal nav-correccion">
                <li class="list-group-item">
                    <a href="https://github.com/JuancitoAr" target="_blank">
                        <i class="uil uil-github" style="font-size: 3em; color: #D4D4D4"></i>
                    </a>
                </li>
                <li class="list-group-item">
                    <button class="button" data-bs-toggle="modal" data-bs-target="#login">Login</button>
                </li>
                <li class="list-group-item">
                    <button class="button">Logout</button>
                </li>
            </ul>
        </nav>
    </header> 
    <div class="row">
        <i class="uil uil-image-edit row align-items-center justify-content-center" style="font-size: 3.6em; height: 60vh; color: #fff" data-bs-toggle="modal" data-bs-target="#banner"></i>
    </div>
</section>