<div class="row mb-1">
    <div class="col align-self-center mb-1">
        <div class="progress" role="progressbar" aria-label="Animated striped example" [attr.aria-valuenow]="nivel" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
            <div class="progress-bar progress-bar-striped progress-bar-animated" [attr.style]="'width:' + nivel + '%'">
                <div class="row align-items-center">
                    <div class="col">{{habilidad}}</div>
                    <div class="col-auto">
                        <i class="uil uil-file-edit-alt" *ngIf="logueado" style="font-size: 1.5em;" data-bs-toggle="modal" [attr.data-bs-target]="'#editarEstaHabilidadDura' + skill_id"></i>
                        <i class="uil uil-trash-alt" *ngIf="logueado" style="font-size: 1.5em;" data-bs-toggle="modal" [attr.data-bs-target]="'#eliminarEstaHabilidadDura' + skill_id"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal Editar Habilidad -->
<div class="modal fade" [attr.id]="'editarEstaHabilidadDura' + skill_id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditarHabilida">Editar esta Habilidad</h1>
                <button [attr.id]="'closeModalEditSkillDura' + skill_id" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #editFormSkillDura="ngForm" (ngSubmit)="editSkillDura(skill_id)">
                    <div class="m-4">
                        <label for="editarHabilidad" class="form-label">Habilidad</label>
                        <input name="editarHabilidad" ngModel="{{habilidad}}" class="form-control" id="editarHabilidad" type="text" aria-label="Habiliadad">
                    </div>
                    <div class="m-4">
                        <label for="nivelHabilidad" class="form-label">Nivel alcanzado</label>
                        <input name="nivelHabilidad" ngModel="{{nivel}}" class="form-control" id="nivelHabilidad" type="text" aria-label="Nivel de la habilidad">
                        <div class="form-text">Ingrese solo el valor numerico</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="editSkillDura(skill_id)" type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancerlar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminar Habilidad -->
<div class="modal fade" [attr.id]="'eliminarEstaHabilidadDura' + skill_id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEliminarHabilidad">Eliminar esta Habilidad</h1>
                <button [attr.id]="'closeModalDeleteSkillDura' + skill_id" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="m-4">
                        Estas a punto de <strong>Eliminar</strong> {{habilidad}} y toda su información!!! Estas Seguro?
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="deleteSkill(skill_id)" type="button" class="btn btn-danger">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancerlar</button>
            </div>
        </div>
    </div>
</div>