<div class="card border-light mb-4 mt-3" style="max-width: auto;">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h4 class="card-title">Web del Instituto de Control de Alimentación y Bromatologia</h4>
                <h6>Año 2011</h6>
            </div>
            <div class="col-auto">
                <i class="uil uil-file-edit-alt" style="font-size: 1.8em;color: #0d94b9" data-bs-toggle="modal" data-bs-target="#editarProyecto"></i>
                <i class="uil uil-trash-alt" style="font-size: 1.8em; color: #0d94b9" data-bs-toggle="modal" data-bs-target="#eliminarProyecto"></i>
            </div>
        </div>
    </div>
    <div class="card-body">
      <p class="card-text">En mi segundo año dentro del Instituto de Control de Alimentación y Bromatologia, 
        se me encomendó la tarea de gestionar el diseño de la web de dicho Instituto. 
        Una vez armada, el trabajo consistió en la carga de contenido, su mantenimiento y actualización.
        Actualmente la web se encuentra en un proceso de remodelación y reorganización de los contenidos.</p>
        <a href="https://www.entrerios.gov.ar/icab/index.php" target="_blank">Ir a la web</a>
    </div>
</div>
<div class="card border-light mb-4 mt-4" style="max-width: auto;">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h4 class="card-title">Participación en proyecto SIFeGA</h4>
                <h6>Año 2011</h6>
            </div>
            <div class="col-auto">
                <i class="uil uil-file-edit-alt" style="font-size: 1.8em;color: #0d94b9" data-bs-toggle="modal" data-bs-target="#editarProyecto"></i>
                <i class="uil uil-trash-alt" style="font-size: 1.8em; color: #0d94b9" data-bs-toggle="modal" data-bs-target="#eliminarProyecto"></i>
            </div>
        </div>
    </div>
    <div class="card-body">
      <p class="card-text">SIFeGA es un sistema desarrollado en conjunto entre Nacion y las Provincias, por 
        medio del cual se gestionan las registraciones de los Establecimientos productores de alimentos de 
        toda la Argentina. El sistema debía unificar los criterios y necesidades de todas las provincias, primando 
        la cuestion sanitaria.
        Finalmente en el año 2019, el sistema comenzo su implementación en la provincia de Entre Ríos, momento 
        en el cual se me asignó el rol de administrador de la plataforma para toda la Provincia.</p>
        <a href="http://entrerios.sifega.anmat.gob.ar/login.php" target="_blank">Ir al sistema </a>
    </div>
</div>
<div class="card border-light mb-4 mt-4" style="max-width: auto;">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h4 class="card-title">Participe y gestor de un sistema de capacitación en Manipulación de Alimentos</h4>
                <h6>Año 2015</h6>
            </div>
            <div class="col-auto">
                <i class="uil uil-file-edit-alt" style="font-size: 1.8em;color: #0d94b9" data-bs-toggle="modal" data-bs-target="#editarProyecto"></i>
                <i class="uil uil-trash-alt" style="font-size: 1.8em; color: #0d94b9" data-bs-toggle="modal" data-bs-target="#eliminarProyecto"></i>
            </div>
        </div>
    </div>
    <div class="card-body">
      <p class="card-text">El trabajo conjunto entre el Instituto de Control de Alimentacíon y Bromatologia 
        y la Direccion de Comedores Escolares, sento las bases para que instaurara un proyecto de capacitación en 
        manipulación de alimentos, para toda aquella persona relacionada a la producción y manejo de alimentos.
        Dicho proyecto requirió a posteriori una plataforma de gestión de capacitaciones como así tambien un padron
        de toda persona capacitada.
        En el año 2020 y con el advenimiento de la pandemia, el sistema se vio forzado a migrar a una versión 
        digital online, siendo el responsable y gestor de la misma.</p>
        <a href="https://sites.google.com/view/cma-icab" target="_blank">Ir a la web</a>
    </div>
</div>
<div class="card border-light mb-4 mt-4" style="max-width: auto;">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h4 class="card-title">Sistema de Generación de Volantes de Pago</h4>
                <h6>Año 2019</h6>
            </div>
            <div class="col-auto">
                <i class="uil uil-file-edit-alt" style="font-size: 1.8em;color: #0d94b9" data-bs-toggle="modal" data-bs-target="#editarProyecto"></i>
                <i class="uil uil-trash-alt" style="font-size: 1.8em; color: #0d94b9" data-bs-toggle="modal" data-bs-target="#eliminarProyecto"></i>
            </div>
        </div>
    </div>
    <div class="card-body">
      <p class="card-text">Debido a un requerimento del Tribunal de Cuentas, el ICAB debía poder identificar
        y facturar todo ingreso de dinero en sus cuentas en menos de 48 hs. Mediante un acuerdo con la 
        entidad financiera de la Provincia, se estableció un sistema para la identificación y seguimiento de los
        los pagos que recibe el Instituto.
        En este caso el rol desempeñado fue el de plasmar las necesidades y trasladar la idea de un sistema a 
        la Direccion General de Informatica para que dicho organismo se encargue de la codificación del mismo.
      </p>
      <a href="https://www.entrerios.gov.ar/icab/index.php?codigo=20&codppal=20&modulo=volante" target="_blank">Ir al sistema</a>
    </div>
</div>

<!-- Modal Editar Proyecto -->
<div class="modal fade" id="editarProyecto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditarProyecto">Editar Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="m-3">
                        <label for="editarTituloProyecto" class="form-label">Titulo del Proyecto</label>
                        <input class="form-control" id="editarTituloProyecto" type="text" aria-label="Editar Titulo Proyecto">
                    </div>
                    <div class="m-3">
                        <label for="editarFecha" class="form-label">Año de Inicio</label>
                        <input class="form-control" id="editarFecha" type="text" aria-label="Año de Inicio">
                    </div>
                    <div class="m-3">
                        <label for="editarDescripcionP" class="form-label">Descripción del Proyecto</label>
                        <textarea class="form-control" id="editarDescripcionP" type="text" aria-label="Editar Descripcion de Proyecto" rows="5"></textarea>
                    </div>
                    <div class="m-3">
                        <label for="editarEnlaceP" class="form-label">Enlace</label>
                        <input class="form-control" id="editarEnlaceP" type="text" aria-label="Enlace">
                    </div>
                    <div class="m-3">
                        <label for="editarTextoEnlaceP" class="form-label">Texto del Enlace</label>
                        <input class="form-control" id="editarTextoEnlaceP" type="text" aria-label="Mascara Enlace">
                        <div class="form-text">Usaremos este texto para enmascarar el enlace</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancerlar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminar Proyecto -->
<div class="modal fade" id="eliminarProyecto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEliminarProyecto">Eliminar este Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="m-4">
                        Estas a punto de <strong>Eliminar</strong> este Proyecto!!! Estas Seguro?
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancerlar</button>
            </div>
        </div>
    </div>
</div>