<section class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="color-titulo">Proyectos</h1>
        </div>
        <div *ngIf="logueado" class="col-auto">
            <i class="uil uil-file-plus-alt" style="font-size: 2.5em; color: #0d94b9" data-bs-toggle="modal"
                data-bs-target="#agregarProyecto"></i>
        </div>
    </div>
    <div *ngFor="let proyecto of proyectos">
        <app-proyecto 
        [proyecto_id]="proyecto.proyecto_id"
        titulo="{{proyecto.titulo}}" 
        fecha_inicio="{{proyecto.fecha_inicio}}"
        descripcion="{{proyecto.descripcion}}" 
        link="{{proyecto.link}}"
        mascara="{{proyecto.mascara}}"
        (actualizarProyecto)="getProyecto()"
        ></app-proyecto>
    </div>
</section>

<!-- Modal Agregar Proyecto -->
<div class="modal fade" id="agregarProyecto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalAgregarProyecto">Nuevo Proyecto</h1>
                <button id="closeModalAddProyecto" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addFormProyecto="ngForm" (ngSubmit)="onSubmitAddProyecto(addFormProyecto)">
                    <div class="m-3">
                        <label for="tituloNuevoProyecto" class="form-label">Titulo del Proyecto</label>
                        <input name="tituloNuevoProyecto" class="form-control" id="tituloNuevoProyecto" type="text" aria-label="Titulo Nuevo Proyecto">
                    </div>
                    <div class="m-3">
                        <label for="nuevaFecha" class="form-label">Año de Inicio</label>
                        <input name="nuevaFecha" class="form-control" id="nuevaFecha" type="text" aria-label="Año de Inicio">
                    </div>
                    <div class="m-3">
                        <label for="nuevaDescripcionP" class="form-label">Descripción del Proyecto</label>
                        <textarea name="nuevaDescripcionP" class="form-control" id="nuevaDescripcionP" type="text" aria-label="Nueva Descripcion de Proyecto" rows="5"></textarea>
                    </div>
                    <div class="m-3">
                        <label for="nuevoEnlace" class="form-label">Enlace</label>
                        <input name="nuevoEnlace" class="form-control" id="nuevoEnlace" type="text" aria-label="Enlace">
                    </div>
                    <div class="m-3">
                        <label for="textoNuevoEnlace" class="form-label">Texto del Enlace</label>
                        <input name="textoNuevoEnlace" class="form-control" id="textoNuevoEnlace" type="text" aria-label="Mascara Enlace">
                        <div class="form-text">Usaremos este texto para enmascarar el enlace</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="onSubmitAddProyecto(addFormProyecto)" type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancerlar</button>
            </div>
        </div>
    </div>
</div>