<section class="container mt-5">
    <h1 class="color-titulo">
        Hard & Soft Skills
    </h1>
    <p class="mb-3">Dentro de las habilidades que componen a un persona, podemos clasificar lo que se conocen como
        habilidades "duras o tecnicas" que corresponden a habilidades especificas y concretas, como podrian
        ser los lenguajes y tecnologias que la persona maneja.
        Por otro lado existen lo que se conocen como habilidades "blandas o no tecnicas", que corresponden a 
        habilidades personales que pueden contribuir al exito en un trabajo o proyecto.
    </p>
    <app-habilidades-duras></app-habilidades-duras>
    <app-habilidades-blandas></app-habilidades-blandas>    
</section>